*.d
*.o
*.PcbDocPreview
*.SchDocPreview
*.REPPreview
*.1
*.apr
*.EXTREP
*.GBL
*.GBO
*.GBP
*.GBS
*.GD1
*.GG1
*.GKO
*.GM1
*.GM11
*.GM13
*.GM15
*.GM3
*.GML
*.GPB
*.GPT
*.GTL
*.GTO
*.GTP
*.GTS
*.REP
*.RUL
*.APR_LIB
*.tgz
*.rep
*.xlsx
*.step

